.container {
  text-align: center;
}

hr { display: block; height: 1px;
  border: 0; border-top: 1px solid red;
  margin: 1em 0; padding: 0; }


p {
color: yellow;
}

#nome {
  color: lightgreen !important;
  text-transform: uppercase;
  text-decoration: underline;
}

#tipo {
  text-transform: capitalize;
}

#presenza {
  text-transform: capitalize;
  color: yellow !important;
  text-decoration: underline;
}

div {
  margin-top: 30px;
}
