.container {
  text-align: center;
}

.card {
  margin-top: 10px;
}

h2 {
  margin-top: 10px;
  margin-bottom: 20px;
}

.modal-body {
  text-align: left;
}

#data {
  color: red !important;
  margin-top: 40px;

}

#tipo {
  color: white;
}

#tipoevento {
  color: white;
}

div {
  margin-bottom: 30px;
}

